<%= @booking.email %>さんからの新規在庫確認
・内容
<p><%= @booking.place %></p>
<p><%= @booking.kind %></p>
<p><%= @booking.volume %></p>
<p><%= @booking.week %></p>
<p><%= @booking.year %></p>
<p><%= @booking.main_column %></p>
<p><%= @booking.sub_column %></p>
