<%= render 'shared/head' %>

<h2>パスワードとかの変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <% f.label :email %><br />
    <% f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(新しく設定したいパスワード)</i><br />
    <a><%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード入力" %></a>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上の英数字</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %> <i>(新しく設定したパスワード再入力)</i><br />
    <a><%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード再入力" %></a>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(古いパスワードを入力してください)</i><br />
    <a><%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "今までのパスワードを入力" %></a>
  </div>

  <div class="button_center">
    <button><%= f.submit "更新する", :class=> "btn-square-pop" %></button>
  </div>
<% end %>

<%= render 'shared/bottom' %> 
