<%= render 'shared/head' %>  


<% user = User.find(params[:id])%>
   <div class = "centering_item">
      <div class = centering_line_item>
      
       <strong>”<%= user.email %>”さん更新</strong>
       <%= form_with model: @user, method: :patch, local: true do |f| %>
       <% user.email %>
      </div>
      
      <div class = centering_line_item>担当者変更
       <%= f.select :admin, [["担当", "1"], ["一般", "0"]] %>
      </div>
      
      <div class="button_center">
       <button><%= f.submit '保存', {:class => "btn-square-pop2"} %></button>
      </div>
      <% end %>
    
     <div class = button_center>
      <button><%= link_to 'USERの削除', destroy_session_user_path, :class=>"btn-square-pop2"%></button>
     </div> 
   </div> 
 
 <%= render 'shared/bottom' %>