<%= render 'shared/head' %>

<%= @w_year %>

<%= form_for @booking, :url => bookings_done_path do |f| %>
  <div class="centering_item">
    <table class ="aaa">
    <h2>確認</h2>
    <tr><th>港</th><td> <%= f.hidden_field :place %><%= @booking.place %></td></tr>
    <tr><th>コンテナタイプ</th><td> <%= f.hidden_field :kind %><%= @booking.kind %></td></tr>
    <tr><th>WEEK</th><td><%= @ketsu %></td></tr>
    <tr><th>YEAR</th><td><%= @booking.year %></td></tr>
    <tr><th>VOLUME</th><td><%= @booking.volume %></td></tr>
    <tr><th>リマーク</th><td> <%= f.hidden_field :main_column %><%= @booking.main_column %></td></tr>
    <tr><th>ラインマスター</th><td> <%= f.hidden_field :sub_column %><%= @booking.sub_column %></td></tr>
    </table>
      <%= f.hidden_field :status%>
      <%= f.hidden_field :tk_number%>
      <%= f.hidden_field :email%>
      
      <div class="button_center">
      <button><%= f.submit '戻る', name: 'back', :class=>"btn-square-pop" %>
      <%= f.submit '送信する', :class=>"btn-square-pop" %></button>
      </div>
  </div>
<% end %>

<%= render 'shared/bottom' %>