<h3>あなたが選択したのは下の感じです</h3>

<!--選択したコンテナタイプと港、Weekを表示させる-->
<p> コンテナタイプ: <%= @booking.kind %></p>
<p> 港: <%= @booking.place %></p>
<p> Week: <%= @booking.week %></p>

<!--acceptingテーブルから可否の表示を行う-->
<p>可否状況ですが。。。<%= @a_result %>です</p>
<p>1週前でしたら、、、<%= @a_day_ahead_result %>です</p>
<p>そして１週後でしたら。。。<%= @a_day_behind_result %>です</p>

<!--同条件で既存の引き合い数を表示させる-->
<h3>
  <%= @pre_booking_result %>
</h3>

<!--showアクションからすでに引き合いとっている人たちとその本数を表示させる画面へ転移-->
<p>すでにbookingしてる人々の詳細は<%= link_to "こちらです。", bookings_show_prebookers_path(@booking.id) %></p>



<!--リマーク２つと本数をカラムに追加し、current userからemailも追加し、申請完了-->
 <%= form_tag("/bookings/#{@booking.id}", method: :patch ) do %>
    <h3>
      上の感じでOKなら、本数とか船名なんかをもちょっと教えてください
    </h3>
    <p>本数<select name="volume" id="custom-select-1b" type="integer" class="custom-select">
        <% 10.times do |num| %>
          <option value ="<%= num + 1 %>"><%= num + 1 %></option>
        <% end %>
        </select></p>
    <p><input type="text" name="main_column" value="<%= @booking.main_column%>" placeholder="船名とか"></p>
    <p><input type="text" name="sub_column" value="<%= @booking.sub_column%>" placeholder="なんとかかんとか"></p>
    <%= hidden_field_tag :email, current_user.email %>
    
    <p>年を選択<select name="year" id="custom-select-1b" type="integer" class="custom-select">
        <option value ="<%= @year %>"><%= @year %></option>
        <option value ="<%= @year + 1 %>"><%= @year + 1 %></option>
        </select></p>
    
    <p><input type="submit" value="申請する"></p>
<% end %>

<!--間違ってたら検索画面に戻ると同時に、データを消す-->
<h3> もし間違っていたらこちらから、戻ってください。</h3>
<p><%= link_to "検索に戻る", "/bookings/#{@booking.id}", method: :delete  %></p>