 <%= render 'shared/head' %> 
 
 <h1>EDIT画面</h1>
 
  <%= form_tag("/bookings/#{@booking.id}", method: :patch ) do %>
    <p>本数を訂正<select name="volume" id="custom-select-1b" type="integer" class="custom-select">
        <% 10.times do |num| %>
          <option value ="<%= num + 1 %>"><%= num + 1 %></option>
        <% end %>
        </select></p>
    <p>年を訂正<select name="year" id="custom-select-1b" type="integer" class="custom-select">
        <% d = Date.today %>
        <% @year = d.year %>
        <option value ="<%= @year %>"><%= @year %></option>
        <option value ="<%= @year + 1 %>"><%= @year + 1 %></option>
        </select></p>
        
        <p>ステータスを更新<select name="status" id="custom-select-1b" type="integer" class="custom-select">
        <option value ="waiting">新規申請</option>
        <option value ="confirmed">在庫OK</option>
        <option value ="rejected">在庫ありません！</option>
        <option value ="waiting_list">キャンセル待ち</option>
        </select></p>
    
    <p><input type="submit" value="確定する"></p>

  
<% end %>
      
<%= render 'shared/bottom' %>