 <%= render 'shared/head' %> 
 
 <h1>更新画面</h1>
 
<div class = "centering_item">
  <div class = centering_line_item>
  <%= form_tag("/bookings/#{@booking.id}", method: :patch ) do %>
    <strong>本数を訂正</strong>
    <select name="volume" type="integer">
        <% 10.times do |num| %>
          <option value ="<%= num + 1 %>"><%= num + 1 %></option>
        <% end %>
    </select>
  </div>
  
  <div class = centering_line_item>
    <strong>年を訂正<strong>
      <select name="year" type="integer">
        <% d = Date.today %>
        <% @year = d.year %>
        <option value ="<%= @year %>"><%= @year %></option>
        <option value ="<%= @year + 1 %>"><%= @year + 1 %></option>
      </select>
  </div>
        
  <div class = centering_line_item>
    <strong>ステータスを更新</strong>
      <select name="status" type="integer">
        <option value ="waiting">新規申請</option>
        <option value ="confirmed">在庫OK</option>
        <option value ="rejected">在庫ありません！</option>
        <option value ="waiting_list">キャンセル待ち</option>
      </select>
  </div>  
  
  <input type="submit" value="確定する" class = "btn-square-pop2">

  
<% end %>
      
</div>
<%= render 'shared/bottom' %>