<%= render 'shared/head' %>

<%= form_for(@booking, url: { action: :confirm }) do |f| %>
  <div class = "centering_item">
    <div class = centering_line_item>
    <strong>港</strong>
    <a><% if @w_place.present? %>
    <%= f.select :place, [@w_place]%>
    <% else %>
       <%= f.select :place, 
        [["Tokyo", "Tokyo"], 
        ["Yokohama", "Yokohama"],
        ["Nagoya", "Nagoya"],
        ["Osaka", "Osaka"],
        ["Kobe", "Kobe"],
        ["Moji", "Moji"], 
        ["Hakata", "Hakata"],
        ["Shimizu", "Shimizu"],
        ["Chiba", "Chiba"],
        ["Kawasaki", "Kawasaki"],
        ["Yokkaichi", "Yokkaichi"],
        ["Mizushima", "Mizushima"],
        ["Hiroshima", "Hiroshima"],
        ["Tokuyama", "Tokuyama"]] %>
    <% end %></a>
    </div>
    
    <div class = centering_line_item>
    <strong>コンテナタイプ</strong>
    <a><% if @w_kind.present? %>
    <%= f.select :kind, [@w_kind] %>
    <% else %>
       <%= f.select :kind, 
        [["20OT", "20OT"], 
        ["40OT", "40OT"],
        ["20FR", "20FR"],
        ["40FR", "40FR"]] %>
    <% end %></a>
    </div>
    
    <div class = centering_line_item>
    <strong>WEEK</strong>
    <a><% if @w_week.present? %>
    <%= f.select :week, [@w_week] %>
    <% else %>
    <%= f.week_field :week, min: "2019-W01" %>
    <% end %></a>
    </div>
    
    <div class = centering_line_item>
    <strong>YEAR</strong>
    <a><% if @w_year.present? %>
    <%= f.select :year, [@w_year] %>
    <% end %></a>
    </div>
    
    <div class = centering_line_item>
    <strong>Volume</strong>
       <a><%= f.select :volume, options_for_select((1..15).to_a) %></a>
    </div>
    

    
    <div class = centering_line_item>
    <strong>リマーク</strong>
      <a><%= f.text_field :main_column, :placeholder => "船名、ETAなど" %></a>
    <strong>ラインマスター</strong>
      <a><%= f.text_field :sub_column, :placeholder => "●●xx@wanhai.com"  %></a>
  
        <%= f.hidden_field :status, :value => "waiting" %>
        <% tk = [*'A'..'Z', *0..9].shuffle[0..3].join %>
        <% tk_number = "TK-" + tk %>
        <%= f.hidden_field :tk_number, :value => "#{tk_number}" %>
        <%= f.hidden_field :email, :value => current_user.email %>
    </div>
    
    <div class = centering_line_item>
      <%= f.submit '確認画面へ',  {:class => "btn-square-pop"}%>
    </div>
    
  </div>
<% end %>

<%= render 'shared/bottom' %>