<%= render 'shared/head' %>

<%= form_for(@booking, url: { action: :confirm }) do |f| %>
  <div>
    <div>
    <strong>港</strong>
    <% if @w_place.present? %>
    <%= f.select :place, [@w_place] %>
    <% else %>
       <%= f.select :place, 
        [["Tokyo", "Tokyo"], 
        ["Yokohama", "Yokohama"],
        ["Nagoya", "Nagoya"],
        ["Osaka", "Osaka"],
        ["Kobe", "Kobe"],
        ["Moji", "Moji"], 
        ["Hakata", "Hakata"],
        ["Shimizu", "Shimizu"],
        ["Chiba", "Chiba"],
        ["Kawasaki", "Kawasaki"],
        ["Yokkaichi", "Yokkaichi"],
        ["Mizushima", "Mizushima"],
        ["Hiroshima", "Hiroshima"],
        ["Tokuyama", "Tokuyama"]] %>
    <% end %>
    </div>
    
    <div>
    <strong>コンテナタイプ</strong>
    <% if @w_kind.present? %>
    <%= f.select :kind, [@w_kind] %>
    <% else %>
       <%= f.select :kind, 
        [["20OT", "20OT"], 
        ["40OT", "40OT"],
        ["20FR", "20FR"],
        ["40FR", "40FR"]] %>
    <% end %>
    </div>
    
    <div>
    <strong>WEEK</strong>
    <% if @w_week.present? %>
    <%= f.select :week, [@w_week] %>
    <% else %>
       <%= f.select :week, options_for_select((1..52).to_a) %>
    <% end %>
    </div>
    
    <div>
    <strong>Volume</strong>
       <%= f.select :volume, options_for_select((1..15).to_a) %>
    </div>
    
    <div>
    <strong>YEAR</strong>
      <%= f.select :year, Date.today.year .. Date.today.year+1 %>
    </div>
    
    <div>
    <strong>リマーク</strong>
      <%= f.text_field :main_column %>
    </div>
    
    <div>
    <strong>リマーク2</strong>
      <%= f.text_field :sub_column %>
    </div>

        <%= f.hidden_field :status, :value => "waiting" %>
        <% tk = [*'A'..'Z', *0..9].shuffle[0..3].join %>
        <% tk_number = "TK-" + tk %>
        <%= f.hidden_field :tk_number, :value => "#{tk_number}" %>
        <%= f.hidden_field :email, :value => current_user.email %>
    
      <%= f.submit '確認画面へ' %>
  </div>
<% end %>

<%= render 'shared/bottom' %>