
<% @results.each do |r| %>
<p><%= r.id %></p>
<p><%= r.status %></p>
<p><%= r.place %></p>
<p><%= r.volume %></p>
<p><%= r.email %></p>
<p><%= r.week %></p>
<p><%= r.kind %></p>
<p><%= link_to 'ステータス更新', "/bookings/#{r.id}/edit", method: :patch %></p>
<p>'----------'</p>
<% end %>

<p><%= link_to "ジャッジ検索に戻る", "/bookings/search" %></p>