
<%= @booking.email %>さん
<% if @booking.status = "confirmed" %>
<h3>TK番号:<%= @booking.tk_number %></h3>
<p>Bookingリマークに忘れずに書いてね</p>
<%end%>
<p>内容: <%= @status %></p>
<p>本数：<%= @booking.volume %></p>
<p>ピック予定WEEK：<%= @booking.week %></p>
<p>港：<%= @booking.place %></p>
<p>コンテナタイプ：<%= @booking.kind %></p>
<p>年：<%= @booking.year %></p>
<p>船名とかETAとか：<%= @booking.main_column %></p>
<p>その他Remark：<%= @booking.sub_column %></p>


<p>送信専用アドレスから送信されてきてます。送信元に返信せず、このメールに返信でコンテナ課担当者さん<%= @admin_email %>へメールできます</p>